body {
    padding: 0px 5px;
}

.space {
    margin: 10px;
}

.c-mb-1 {
    margin-bottom: 0.5rem;
}

.c-mt-1 {
    margin-top: 0.5rem;
}

.c-mt-2 {
    margin-top: 1rem;
}

.c-thead {
    color: aliceblue;
    background-color: black;
}

.c-judul-table {
    margin-bottom: 0;
}

.c-nopage {
    padding: 5px 11px 5px 10px;
    width: auto;
    height: auto;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}

table {
    background-color: #ABE1FB;
}
.c-add-user{
    width: 30px;
}