body {
    padding: 0px 5px;
    background-color: #ABE1FB;
}
.c-susername{
    color:darkslategrey;
}
.c-card{
    float: left;
    padding: 1%;
    width: 10vw;
    min-width: 100px;
    border-radius: 7%;
    text-align: center;
    background-color: whitesmoke;
}
.c-card img {
    width: 94%;
}
.c-card p {
    padding-bottom: 20px;
}

.mr-2{
    margin-left: 2rem;
}