body {
    padding: 0px 5px;
    background-color: #ABE1FB;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.mt-10 {
    margin-top: 5rem !important;
}

.mt-5 {
    margin-top: 2.5rem !important;
}

.mt-3 {
    margin-top: 1.5rem !important;
}

.mt-1\.5 {
    margin-top: 0.75rem !important;
}

.mt-2 {
    margin-top: 1rem !important;
}

.mt-1 {
    margin-top: 0.5rem !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.mb-1\.5 {
    margin-bottom: 0.75rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}


.m-0 {
    margin: 0;
}

.p-2 {
    padding: 1rem;
}

.pl-1{
    padding-left: 0.5rem;
}

.pr-1{
    padding-right: 0.5rem;
}

.underline {
    text-decoration: underline;
}

.btn{
    border-radius: 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    background-color: whitesmoke;
}

.btn-back {
    border-radius: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: whitesmoke;
}

.min-h-10 {
    min-height: 5rem;
}

.card {
    padding: 1.5rem;
    background-color: aliceblue;
    border-radius: 2rem;
}

.card-kecil {
    min-width: 60vw;

    padding: 1.5rem;
    background-color: aliceblue;
    border-radius: 2rem;
}

.tengah{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.min-w-50vw {
    min-width: 50vw;
}

.w-screen {
    width: 100vw;
}


.w-full {
    width: 100%;
}

.h-50vh {
    height: 50vh;
}

.container-isi-chat{
    min-height: 60vh;
}

.other-chat {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #2F2F2F;
    max-width: 70%;
    width: fit-content;
}

.other-chat p{
    margin: 0px;
    color: white;
}

.your-chat {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: green;
    max-width: 70%;
    width: fit-content;
}

.your-chat p{
    margin: 0px;
    color: white;
}

.kanan{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.input-pesan{
    max-width: 90%;
    width: 100%;
    margin-right: 1rem;
}

.text-right{
    text-align: right;
}