body {
    padding: 0px 5px;
    background-color: #ABE1FB;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.mt-10 {
    margin-top: 5rem !important;
}

.mt-5 {
    margin-top: 2.5rem !important;
}

.mt-3 {
    margin-top: 1.5rem !important;
}

.mt-1\.5 {
    margin-top: 0.75rem !important;
}

.mt-2 {
    margin-top: 1rem !important;
}

.mt-1 {
    margin-top: 0.5rem !important;
}

.mb-1\.5 {
    margin-bottom: 0.75rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.m-0 {
    margin: 0;
}

.underline{
    text-decoration: underline;
}